.App {
  text-align: center;
  margin: 3rem auto;
  width: 500px;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px #bbb;
}

.body {
  font-size: 20px;
  color: navy;
  font-weight: bold;
}

.footer {
  font-size: 14px;
}